@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tyler Kinsherf's Web App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Random Game</h2>
        <p>
            This application has some functionality that can display a random game and all of the 
            players who own it!
        </p>
        <p><a class="btn btn-default" href="~/Game/Random">Random Game &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dice Roller</h2>
        <p>Under Construction</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Game List</h2>
        <p>View all games in the database. (Under Construction)</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>